.Dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 10px;
}
.sidebar{
    width: 300px;
}
.filterList p{
    background-color: rgb(67,192,255);
    display: inline;
    padding: 7px 10px;
    margin: 2px;
    border-radius: 15px;
    color: white;
}
h1{
    font-size: 22px;
}

.filterList li{
    background-color: lightgray;
    display: inline;
    padding: 7px 10px;
    margin: 2px;
    border-radius: 15px;
}
.textCanvas hr{
    flex-grow: 1;
    width: 300px;
}